<main>
    <section class="content-container" [ngSwitch]="currentScreen">
    <jhi-configure-devices
        *ngSwitchCase="'devices'"
        [devices]="data.devices"
        [deviceSelected]="formData.device"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-configure-devices>
    <jhi-configure-phases
        *ngSwitchCase="'phases'"
        [phases]="data.phases"
        [phaseSelected]="formData.phase"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-configure-phases>
    <jhi-configure-ctTypes
        *ngSwitchCase="'ctType'"
        [ctTypes]="data.ctTypes"
        [ctTypeSelected]="formData.ctType"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-configure-ctTypes>
    <jhi-configure-ctSetup
        *ngSwitchCase="'ctSetup'"
        [ctSetup]="data.ctSetup"
        [ctSetupSelected]="formData.ctSetup"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-configure-ctSetup>
    <jhi-configure-ctPhase
        *ngSwitchCase="'ctPhases'"
        [ctPhase]="data.ctPhase"
        [ctPhaseSelected]="formData.ctPhase"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-configure-ctPhase>
        <!-- <div *ngIf="currentScreen === 'configure'">   -->
        <div class="configure-container" *ngSwitchDefault>
            <div class="header">List of configuration</div>
            <div class="configure-list">
                <div *ngIf="configures.length">
                    <div *ngFor="let configure of configures"></div>
            </div>
        </div>
    <div class="configure-add" (click)="handleAddConfiguration($event)">
        <div>+</div>
        <div>Add New Configuration</div>
    </div>
    <div *ngIf="configurations.length" class="config-list">
        <h4>Configured Items</h4>
        <div *ngFor="let conf of configurations" class="config-list-item">
            <strong>{{conf.device.type}}</strong> <br />configuration is done.
        </div>
    </div>
    </div>
    </section>
    <div class="action-bar">
    <button [hidden]="!showPreviousButton" class="btn previous" 
        [disabled]="!isPreviousEnabled"
        (click)="handlePreviousClick()"
    >Previous</button>
    <button [hidden]="showDoneBtn || !showNextButton" class="btn next"
        [disabled]="!isNextEnabled"
        (click)="handleNextClick()"
    >{{configurationDone ? 'Done' : 'Next'}}</button>
    <div [hidden]="!showDoneBtn" class="btn next" (click)="onDoneClick()">Done</div>
    </div>
</main>