.content-container {
    height: calc(100vh - 80px);
    width: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    max-width: 720px;
    margin: 0 auto;
    @media screen and (min-width: 600px) {
    }
}
.action-bar {
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0 1em;
    justify-content: space-between;
    max-width: 720px;
    margin: 0 auto;
    .btn {
        background: #68c721;
        transition: background 0.1s ease;
        height: 40px;
        color: #fff;
        border-radius: 20px;
        width: 120px;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1px;
        &.previous {
            background: transparent;
            color: #666;
            border: 1px solid #999;
            margin-right: auto;
        }
        &.next {
            margin-left: auto;
        }
    }
}
