<div class="devices-container">
        <div *ngIf="loading" class="loading">
            <div class="loader"></div>
        </div>
        <div class="header1">What equipment is connected to this load ?</div>    
    <div class="header2">A Budderfly Device was previously installed at this location. The following equipment is already being monitored, but not has been configured for metering. Please align these with the correct load:</div>
    <div class="devices-list">
        <div class="devices-list-item" 
            *ngFor="let device of devices" 
            [ngClass]="{'selected': deviceSelected && device.id === deviceSelected.id}"
            (click)=setSelectedDevice(device)
        >
            <div class="connection-type">{{device.name}}</div> <br />
            <div class="device-name">
                <span class="inventoryItemName badge badge-success">{{device.inventoryItemTypeName || '-'}}</span> &rarr;
                <span class="uniqueIdentifier">{{device.uniqueIdentifierDisplayName}}</span>
                <span class="externalId">{{device.externalId || '-'}}</span>
            </div>
        </div>
    </div>
    <div class="alert alert-primary" *ngIf="!loading && devices && !devices.length">
            No Equipments
    </div>
    <div class="alert alert-danger" *ngIf="showError">
        Something went wrong! Please Try Again.
    </div>
    <div class="configure-add" (click)="handleAddEquipment($event)">
        <div>+</div>
        <div>Other Equipment</div>
    </div>
</div>