<div class="fcs-container">
    <div class="header">Please enter or SCAN to assign {{formData.controller.name}}</div>
    <div class="scanner-div" [ngClass]="{ 'show' : showScanner }">
            <video id="video" width="100%" height="60%"></video>
        </div>
    <div class="input-conatiner">
        <label>{{getScanType()}}<small>*</small></label>
        <input type="text"
            placeholder="Please enter or Scan QR code"
            [(ngModel)]="macAddress"
            (keyup)="onTextChange($event)"
        >
        <img src="../../../../../content/images/camera.png" class="camera-on" (click)="startScanning('qr')"/>
    </div> 
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div> 
</div>
