<div class="controllers-container">
    <div class="header">Select equipment to assign/configure</div>
    <div class="controllers-list">
        <div class="controllers-list-item" 
            *ngFor="let controller of controllers;" 
            [ngClass]="{'selected': controllerSelected && controller.code === controllerSelected.code}"
            (click)=setSelectedController(controller)
        >
            <div class="controller-type">{{controller.name}}</div>
        </div>
    </div>
</div>