<main>
    <nav class="navbar">
        <div class="nav-item logo">
            <span >
            <img (click)="handleBackClick()" class="" src="{{imageUrl}}img/Budderfly-logo-dark-large-300x138.png" alt="budderfly installer logo" />
            </span>
        </div>
        <div class="nav-item">
            <button class="btn-logout" (click)="handleLogout()">
                <img src="{{imageUrl}}installersetupweb/logout.png" alt="Installer Web logout" />
            </button>
        </div>
    </nav>
    <div *ngIf="currentScreen === 'controllers'">
        <jhi-controllers-config
            [configuration]="formData"
            (onItemSelected)="handleItemSelected($event)"
            (onPreviousScreenClick)="handleControllerPreviousClick($event)"
        ></jhi-controllers-config>
    </div>
    <div *ngIf="currentScreen === 'configure'">
        <jhi-location-configure
            [configuration]="formData"
            (onItemSelected)="handleItemSelected($event)"
            (onPreviousScreenClick)="handleControllerPreviousClick($event)"
        ></jhi-location-configure>
    </div>
    <div *ngIf="currentScreen !== 'controllers'">       
        <section class="content-container" [ngSwitch]="currentScreen">
            <jhi-location-stores
                *ngSwitchDefault
                [stores]="data.stores"
                [loading]="loadingStores"
                [storeSelected]="formData.store"
                (onItemSelected)="handleItemSelected($event)"
            ></jhi-location-stores>
            <div class="alert alert-danger" *ngIf="showError">Something went wrong. Please try again later.</div>
        </section>
        <div class="action-bar">
            <button [hidden]="!showPreviousButton" class="btn previous" 
                [disabled]="!isPreviousEnabled"
                (click)="handlePreviousClick()"
            >Previous</button>
            <button [hidden]="!showNextButton" class="btn next"
                [disabled]="!isNextEnabled"
                (click)="handleNextClick()"
            >{{configurationDone ? 'Done' : 'Next'}}</button>
        </div>
    </div>
</main>