<main>
    <nav class="navbar">
        <div class="nav-item logo">
            <img class="" src="https://d3rbhwp8vebia6.cloudfront.net/img/Budderfly-logo-dark-large-300x138 .png" alt="budderfly installer logo" />
        </div>
        <div class="nav-item">
            <button class="btn-logout" (click)="handleLogout()">
                <img src="../../../content/images/logout.png" alt="Installer Web logout" />
            </button>
        </div>
    </nav>
    <div *ngIf="currentScreen === 'configure'">
        <jhi-location-configure
            [configuration]="formData"
            (onItemSelected)="handleItemSelected($event)"
        ></jhi-location-configure>
    </div>

    <div class="scanner-div">
        <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
        <div class="">
            <button (click)="startScanning('qr')">scan</button>
        </div>
        <button (click)="stopScanning()">stop</button>
        <input [value]="qrResultString" placeholder="Pleace enter qr" />
    </div>
    <!-- <zxing-scanner [autostart]="startReading" [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
    [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
    <section class="results" *ngIf="qrResultString">
        <div>
        <small>Result</small>
        <strong>{{ qrResultString }}</strong>
        </div>
    </section> -->
    <div *ngIf="currentScreen !== 'configure'">       
        <section class="content-container" [ngSwitch]="currentScreen">
            <jhi-location-services
                *ngSwitchCase="'services'"
                [services]="data.services"
                [serviceSelected]="formData.service"
                (onItemSelected)="handleItemSelected($event)"
            ></jhi-location-services>
            <jhi-location-connections
                *ngSwitchCase="'connections'"
                [connections]="data.connections"
                [connectionSelected]="formData.connection"
                (onItemSelected)="handleItemSelected($event)"
            ></jhi-location-connections>
            <jhi-location-stores
                *ngSwitchDefault
                [stores]="data.stores"
                [storeSelected]="formData.store"
                (onItemSelected)="handleItemSelected($event)"
            ></jhi-location-stores>
        </section>
        <div class="action-bar">
            <button [hidden]="!showPreviousButton" class="btn previous" 
                [disabled]="!isPreviousEnabled"
                (click)="handlePreviousClick()"
            >Previous</button>
            <button [hidden]="!showNextButton" class="btn next"
                [disabled]="!isNextEnabled"
                (click)="handleNextClick()"
            >{{configurationDone ? 'Done' : 'Next'}}</button>
        </div>
    </div>

</main>