<div class="ctTypes-container">
    <div class="header">Select the CT Type</div>
    <div *ngIf="loading" class="loading">
        <div class="loader"></div>
    </div>
    <div *ngIf="!loading" class="ctTypes-list">
        <div class="ctTypes-list-item" 
            *ngFor="let ctType of ctTypes" 
            [ngClass]="{'selected': ctTypeSelected && ctType.code === ctTypeSelected.code}"
            (click)=setSelectedCtType(ctType)
        >
            <div class="connection-type">{{ctType.name}}</div>
        </div>
    </div>
    <div *ngIf="showError">
        <div class="alert alert-danger" role="alert">
            <p> {{showError}} </p>
             <hr>
             <p class="mb-0" style="font-size: x-small;">{{showErrorDetail}} </p>
         </div>
    </div>
</div>