<main>
        <div  [ngClass]="{'modal-open': showConfirmDelete}">

        </div>
    <div *ngIf="currentScreen === 'configure'" [ngSwitch]="currentScreen">
        <jhi-location-meter
            [configuration]="formData"
            [sendToScreen]="sendToScreen"
            (onSendToPreviousModule)="onSendToPreviousModule($event)"
            (onItemSelected)="handleItemSelected($event)"
            (onPreviousScreenClick)="handleControllerPreviousClick($event)"
            (onpreviousStepClick)="handlePreviousStepClick($event)"
        ></jhi-location-meter>
    </div>

    <div *ngIf="showConfirmDelete" class="confirm-container">
        <div class="content" >
            <div class="alert alert-danger" *ngIf="deleteError">Something went wrong. Please try again later.</div>
            <h2>Are you sure you want to delete {{selectedController.name}}?</h2>
            <div class="btn-container">
                <button class="btn btn-danger" (click)="continueDelete()">Confirm</button>
                <button class="btn btn-success" (click)="cancelDelete()">Cancel</button>
            </div>
        </div>
    </div>

    <div *ngIf="currentScreen !== 'configure'">
        <section class="content-container" [ngSwitch]="currentScreen">
            <jhi-location-controller
                *ngSwitchCase="'controllers'"
                [controllers]="apiControllers"
                [controllerSelected]="formData.controller"
                [formData]="formData"
                (onItemSelected)="handleItemSelected($event)"
            ></jhi-location-controller>
            <jhi-location-smappee
                *ngSwitchCase="'smappee'"
                [loading]="loadingControllers"
                [controllers]="smappeeControllers"
                [controllerSelected]="formData.smappeeController"
                [formData]="formData"
                (onItemSelected)="handleItemSelected($event)"
            ></jhi-location-smappee>
            <jhi-location-fc
                *ngSwitchCase="'fcs'"
                [fcs]="fcs"
                [fcSelected]="formData.fc"
                [formData]="formData"
                [errorMessage]="incorrectMacAddressFormat ? 'Invalid Format' : macAddressNotFound ? 'ID Does Not Exist': idAlreadyExist ? 'Device Already Installed' : createFcError ? 'Something Went Wrong' :''"
                (onItemSelected)="handleItemSelected($event)"
            ></jhi-location-fc>
            <div *ngSwitchDefault class="configure-container">
                <div class="header">Install Budderfly Devices</div>
                
                <div class="configure-add" (click)="handleAddConfiguration($event)">
                    <div>+</div>
                    <div>Add New Budderfly Device</div>
                </div>
                <h4>Installed Budderfly Devices</h4>
                <div *ngIf="!fcontrollers.length && !showError" class="config-list" class="alert alert-primary">
                    Currently No Budderfly Devices
                </div>
                <div *ngIf="loadingEquipment" class="loading">
                    <div class="loader"></div>
                </div>
                <div *ngIf="showError" class="alert alert-danger">
                    Something went wrong. Please try again later
                </div>
                <div *ngIf="!showError && fcontrollers.length" class="config-list">
                    <div *ngFor="let conf of fcontrollers; trackBy: identify" class="config-list-item" (click)="addDevices(conf)" [ngClass]="{'selected' : conf.id === selectedConf.id}">
                        <strong>{{conf.name}}</strong> <br />
                        <div *ngIf="conf.isFc" data-fc="conf.isFc">
                            <div *ngIf="conf.loading">
                                <div class="status-loader"></div>
                            </div>
                            <div *ngIf="!conf.loading" data-code="conf.inventoryItemTypeCode">
                                <div *ngIf="conf.status" class="status">
                                    <img src="{{imageUrl}}installersetupweb/online.png" alt="online">
                                </div>
                                <div *ngIf="!conf.status" class="status">
                                    <img src="{{imageUrl}}installersetupweb/offline.png" alt="offline">
                                </div>
                                <div *ngIf="conf.statusError" class="status-error">
                                    <img src="{{imageUrl}}installersetupweb/alert.png" alt="Status-Error">
                                    <p>error</p>
                                </div>
                            </div>
                        </div>
                        <p class="green">{{conf.externalId || '-'}}</p>
                            <button (click)="deleteFcController(conf)" class="btn"><img src="{{imageUrl}}installersetupweb/trash.png"></button>
                    </div>
                </div>
            </div>
        </section>
        <div class="action-bar">
            <button [hidden]="!showPreviousButton" class="btn previous" 
                [disabled]="!isPreviousEnabled"
                (click)="handlePreviousClick()"
            >Previous</button>
            <button [hidden]="!showNextButton" class="btn next"
                [disabled]="!isNextEnabled"
                (click)="handleNextClick()"
            >{{controllersConfigured ? 'Done' : 'Next'}}</button>
        </div>
    </div>
</main>