<main>
<div *ngIf="currentScreen === 'configure'" [ngSwitch]="currentScreen">
    <jhi-location-meter
        [configuration]="formData"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-location-meter>
</div>

<div *ngIf="currentScreen !== 'configure'">
<section class="content-container" [ngSwitch]="currentScreen">
    <jhi-location-controller
        *ngSwitchCase="'controllers'"
        [controllers]="data.controllers"
        [controllerSelected]="formData.controller"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-location-controller>
    <jhi-location-fc
        *ngSwitchCase="'fcs'"
        [fcs]="data.fcs"
        [fcSelected]="formData.fc"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-location-fc>
    <div *ngSwitchDefault class="configure-container">
            <div class="header">Install Equipment</div>
            <div class="configure-list">
                <div *ngIf="fcontrollers.length">
                    <div *ngFor="let fcontroller of fcontrollers"></div>
                </div>
            </div>
    <div class="configure-add" (click)="handleAddConfiguration($event)">
        <div>+</div>
        <div>Add New Equipment</div>
    </div>
    <div *ngIf="fcontrollers.length" class="config-list">
        <h4>Installed Equipment</h4>
        <div *ngFor="let conf of fcontrollers" class="config-list-item">
            <strong>{{conf.name}}</strong> <br />
            <p class="red">{{conf.externalId || '-'}}</p>
        </div>
    </div>
    </div>
</section>
<div class="action-bar">
    <button [hidden]="!showPreviousButton" class="btn previous" 
        [disabled]="!isPreviousEnabled"
        (click)="handlePreviousClick()"
    >Previous</button>
    <button [hidden]="!showNextButton" class="btn next"
        [disabled]="!isNextEnabled"
        (click)="handleNextClick()"
    >{{controllersConfigured ? 'Done' : 'Next'}}</button>
</div>
