<main [ngClass]="{'modal-open': showConfirmDelete}">
<div *ngIf="currentScreen === 'configure'" [ngSwitch]="currentScreen">
    <jhi-location-meter
        [configuration]="formData"
        (onItemSelected)="handleItemSelected($event)"
        (onPreviousScreenClick)="handleControllerPreviousClick($event)"
    ></jhi-location-meter>
</div>

<div *ngIf="showConfirmDelete" class="confirm-container">
    <div class="content">
        <h2>Are you sure you want to delete?</h2>
        <div class="btn-container">
            <button class="btn btn-primary" (click)="continueDelete()">continue</button>
            <button class="btn btn-warning" (click)="cancelDelete()">cancel</button>
        </div>
    </div>
</div>

<div *ngIf="currentScreen !== 'configure'"></div>
<section class="content-container" [ngSwitch]="currentScreen">
    <jhi-location-controller
        *ngSwitchCase="'controllers'"
        [controllers]="apiControllers"
        [controllerSelected]="formData.controller"
        [formData]="formData"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-location-controller>
    <jhi-location-fc
        *ngSwitchCase="'fcs'"
        [fcs]="data.fcs"
        [fcSelected]="formData.fc"
        [formData]="formData"
        [errorMessage]="createFcError ? 'Something went wrong.' : ''"
        (onItemSelected)="handleItemSelected($event)"
    ></jhi-location-fc>
    <div *ngSwitchDefault class="configure-container">
        <div class="header">Install Equipment</div>
        
        <div class="configure-add" (click)="handleAddConfiguration($event)">
            <div>+</div>
            <div>Add New Equipment</div>
        </div>
        <h4>Installed Equipment</h4>
        <div *ngIf="!fcontrollers.length && !showError" class="config-list" class="alert alert-primary">
            No Equipments Installed
        </div>
        <div *ngIf="showError" class="alert alert-danger error">
            Something went wrong. Please try again later
        </div>
        <div *ngIf="loadingEquipment" class="loading">
            <div class="loader"></div>
        </div>
        <div *ngIf="!showError && fcontrollers.length" class="config-list">
            <div *ngFor="let conf of fcontrollers" class="config-list-item">
                <strong>{{conf.name}}</strong> <br />
                <p class="red">{{conf.externalId || '-'}}</p>
                <button (click)="deleteFcController(conf)">DELETE</button>
            </div>
        </div>
    </div>
</section>
<div class="action-bar">
    <button [hidden]="!showPreviousButton" class="btn previous" 
        [disabled]="!isPreviousEnabled"
        (click)="handlePreviousClick()"
    >Previous</button>
    <button [hidden]="!showNextButton" class="btn next"
        [disabled]="!isNextEnabled"
        (click)="handleNextClick()"
    >{{controllersConfigured ? 'Done' : 'Next'}}</button>
</div>
