<div class="ctSetups-container">
    <div class="header">CT Input</div>
    <div *ngIf="loading" class="loading">
        <div class="loader"></div>
    </div>
    <div *ngIf="!loading && !ctInputError" class="ctSetups-list">
        <div class="ctSetups-list-item" 
            *ngFor="let ctSetup of ctSetup" 
            [ngClass]="{'selected': ctSetupSelected && ctSetup.channel === ctSetupSelected.channel}"
            (click)=setSelectedctSetup(ctSetup)
        >
            <div class="connection-type">{{ctSetup.name}}</div>
        </div>
    </div>
    <div class="alert alert-primary" *ngIf="!loading && !ctSetup.length && !ctInputError">
        No CT Inputs to Select
    </div>
    <div *ngIf="ctInputError && !loading">
        <div class="alert alert-danger" role="alert">
            <p> {{ctInputError}} </p>
             <hr>
             <p class="mb-0" style="font-size: x-small;">{{ctInputErrorDetail}} </p>
         </div>
    </div>
</div>