<div class="stores-container">
    <div class="header">Select the location you need to configure</div>
    <div *ngIf="loading" class="loading">
            <div class="loader"></div>
    </div>
    <div *ngIf="!loading && stores.length" class="stores-list">
        <div class="stores-list-item" 
            *ngFor="let store of stores;" 
            [ngClass]="{'selected': storeSelected && store.id === storeSelected.id}"
            (click)=setSelectedStore(store)
        >
            <div class="store-id">{{store.id}}</div>
            <div class="store-address">{{store.address}}</div>
            <div class="store-address">{{store.city}} {{store.state}} {{store.zip}}</div>
        </div>
    </div>
</div>