<div class="stores-container">
    <div class="header">Select the location you need to configure</div>
    <div *ngIf="loading">
        loading...
    </div>
    <div *ngIf="!loading && stores.length" class="stores-list">
        <div class="stores-list-item" 
            *ngFor="let store of stores;" 
            [ngClass]="{'selected': storeSelected && store.id === storeSelected.id}"
            (click)=setSelectedStore(store)
        >
            <div class="store-id">{{store.id}}</div>
            <div class="store-address">{{store.address}}</div>
            <div class="store-address">{{store.city}} {{store.state}} {{store.zip}}</div>
            <div class="store-status">
                <span *ngIf="store.online">
                    <img src="../../../../../content/images/online.png" alt="online status" />
                </span>
                <span *ngIf="!store.online">
                    <img src="../../../../../content/images/offline.png" alt="offline status" />
                </span>
            </div>
        </div>
    </div>
</div>